<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.wex.plugins.applicationInfo"
    version="1.0.0">
    <author>WEX</author>
    <name>ApplicationInfo</name>
    <description>Application Info Plugin</description>
    <license>MIT</license>
    <keywords>ApplicationInfo</keywords>

    <js-module src="www/ApplicationInfo.js" name="ApplicationInfo">
        <clobbers target="ApplicationInfo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ApplicationInfo" >
                <param name="android-package" value="com.wex.plugins.applicationInfo.ApplicationInfoPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/ApplicationInfoPlugin.java" target-dir="src/com/wex/plugins/applicationInfo" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ApplicationInfo">
                <param name="ios-package" value="ApplicationInfo" onload="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/ApplicationInfo.h" />
        <source-file src="src/ios/ApplicationInfo.m" />
        
    </platform>
</plugin>
